[submodule "extlib/r-index"]
	path = extlib/r-index
	url = https://github.com/nicolaprezza/r-index
[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx
[submodule "extlib/libsais"]
	path = extlib/libsais
	url = https://github.com/IlyaGrebnov/libsais
[submodule "extlib/libdivsufsort"]
	path = extlib/libdivsufsort
	url = https://github.com/kurpicz/libdivsufsort
[submodule "extlib/malloc_count"]
	path = extlib/malloc_count
	url = https://github.com/bingmann/malloc_count
[submodule "extlib/tdc"]
	path = extlib/tdc
	url = git@github.com:herlez/tdc.git
[submodule "extlib/cereal"]
	path = extlib/cereal
	url = https://github.com/USCiLab/cereal
[submodule "extlib/wavelet_tree"]
	path = extlib/wavelet_tree
	url = git@github.com:pasta-toolbox/wavelet_tree.git
[submodule "extlib/bit_vector"]
	path = extlib/bit_vector
	url = git@github.com:pasta-toolbox/bit_vector.git
